/* src\pages\Lista\styles.css */

.pagina-lista-usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
  
.pagina-lista-usuarios .container {
    background-color: rgba(255, 255, 255, 0.945);
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    overflow-y: auto;
    text-align: center;
    margin-top: 0px;
}
  
.pagina-lista-usuarios .container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 35px;
    color: #1c1c1c;
}
  
.pagina-lista-usuarios .container .link-voltar {
    display: block;
    margin-top: 25px;
    font-size: 16px;
    text-align: center;
    color: #f4f4f4; 
    text-decoration: none;
    width: 80%;
}
  
.pagina-lista-usuarios .container .link-voltar:hover {
    text-decoration: none;
}

.pagina-lista-usuarios .background .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}